.lead__group-4 {
    max-width: 937px;
    height: 263px;
    position: relative;
    top: 90px;
    left: 23px;
    right: 23px;

}

@media screen and (max-width: 1024px) {
    .lead__group-4 {
    width: 883px;
    height: 248px;

    top: 85px;
    left: 22px;
    }
}

@media screen and (max-width: 768px) {
    .lead__group-4 {
    max-width: 731px;
    height: 205px;

    top: 70px;
    left: 18px;
    }
}

@media screen and (max-width: 320px) {
    .lead__group-4 {
    max-width: 304px;
    height: 85px;

    top: 30px;
    left: 7px;
    }
}  