.intro__list {
    margin: 33px 0 0 0;
    padding: 0;
    font-size: .75rem;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    list-style-type: none;
}

@media screen and (max-width: 320px) {
    .intro__list {
        min-width: 288px;
    }
}