.cover__subtitle {
    margin: 32px auto 245px auto;
    max-width: 360px;
    font-size: 1.125rem;
    line-height: 22px;
    z-index: 3;
    text-align: center;
    font-weight: 400;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        margin-bottom: 195px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        margin-bottom: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        margin: 16px auto 33px auto;
        font-size: 0.875rem;
        max-width: 288px;
        line-height: 16px;
    }
}