.header {
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 288px;
        padding-top: 16px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        min-width: 288px;
        padding: 16px 16px 0 16px;
    }
}