.header {
    width: 1184px;
    height: 52px;
    padding-top: 28px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .header {
        padding-top: 28px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        width: 928px;
        padding-top: 28px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 720px;
        padding-top: 28px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: 288px;
        height: 42px;
        padding-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }
}
