.lead__title {
    max-width: 720px;
    margin: 0 auto 32px auto;
    font-size: 6rem;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__title {
        margin: 0 auto 16px auto;
        font-size: 2.5rem;
        max-width: 288px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        margin: 0 16px 16px 16px;
        min-width: 288px;
    }
}
