.intro__text {
    margin-top: 40px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
    letter-spacing: 0em;
    text-align: left;
}


@media screen and (max-width: 1279px) {
    .intro__text {
        margin-left: 24px;
    }
}


@media screen and (max-width: 1023px) {
    .intro__text {
        margin-left: 24px;
    }
}


@media screen and (max-width: 767px) {
    .intro__text {
        margin-left: 16px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        margin-left: 16px;
        min-width: 288px;
    }
}  





