.place__website {
    width: 456px;
    height: 46px;
    margin-top: 106px;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 768px) {
    .place__website {
        width: 352px;
        margin-top: 46px;
    }    
}

@media screen and (max-width: 320px) {
    .place__website {
        display: none;
    }
}  