.intro__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: left;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 2rem;
        line-height: 35px;
        min-width: 288px;
    }
}